#noti2{
    display: none;
   background-color: black;
   color: white;
   height: 25rem;
   
}


#noti2 p{
   font-size: 20px;
    margin-left: 20px;
}


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.nav{
    background-color: rgba(45, 49, 63, 0.85);
    height: 80px;
    
}
.nav li a{
    text-decoration:none;
    color: white;
}
li{
    display: inline-block;
    font-size: 22px;
    padding-right: 16px;
    padding-top: 8px;

}
.nav21{
    position: relative;
    left: 70%;
}
.nav11{
    position: absolute;
    left: 10%;
}
.icon{
    width: 48px;
    height: 48px;
   position: absolute;
   left: 2%;
  

}
.iconbox{
    display: inline-block;
}
.trend img{
    width: 70%;
    height: 430px;
    margin-left: 15%;
}
body{
   background-color: white;
}
.carousel-inner img{
    width: 70%;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
#k{
    color: red;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}
.last{
    background-image: url(Titanium.png);
}
li a:hover{
   color: black;
}
li a:active{
    color: red;
 }
 img:hover{
    border: 5px;
    border-color: black;
 }

 #noti{
    cursor: pointer;
 }

